#landing
	@extend %center_on_screen
	min-height: 100vh
	text-align: center
	color: #f1f1f1
	background-color: #333

	.section__inner
		width: 40px

	.section__sub-heading
		letter-spacing: 3px

	.follow
		+position(fixed, null 0 0 0)
		+padding(20px)
		font-size: 20px

		.social__icon
			+padding(10px)
	
	.ion-social-instagram
		opacity: 0
		+fadein(3s, 2s)

	.ion-social-twitter
		opacity: 0
		+fadein(3s, 2.25s)

	.ion-social-facebook
		opacity: 0
		+fadein(3s, 2.5s)

	.logo
		+fadein
		opacity: 0

	

